<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="" lang="en"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/static/"
      data-template="vertical-menu-template-starter">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>login</title>
    <meta name="description" content=""/>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo-max.png}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet"/>


    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/tabler-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/flag-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/core.css}" class="template-customizer-core-css"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/css/rtl/theme-default.css}" class="template-customizer-theme-css"/>
    <script th:src="@{/assets/vendor/js/template-customizer.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/node-waves/node-waves.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/typeahead-js/typeahead.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/select2/select2.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/animate-css/animate.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/sweetalert2/sweetalert2.css}">
    <script th:src="@{/assets/vendor/js/helpers.js}"></script>
    <script th:src="@{/assets/js/config.js}"></script>
    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>

</head>
<body>

<div class="row" style="width: 99%">
    <div class="col-xl-9 col-md-6 d-none d-sm-block">
        <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
<!--            <img th:src="@{/assets/img/illustrations/auth-login-illustration-light.png}" alt="auth-login-cover">-->
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-1">Welcome to Vuexy! 👋</h4>
                <p class="mb-6">Please sign-in to your account and start the adventure</p>

                <form id="formAuthentication" class="mb-6 fv-plugins-bootstrap5 fv-plugins-framework"
                      action="index.html" method="GET" novalidate="novalidate">
                    <div class="mb-6 fv-plugins-icon-container">
                        <label for="email" class="form-label">Email or Username</label>
                        <input type="text" class="form-control" id="email" name="email-username"
                               placeholder="Enter your email or username" autofocus="" fdprocessedid="mnt54s">
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                    </div>
                    <div class="mb-6 form-password-toggle fv-plugins-icon-container">
                        <label class="form-label" for="password">Password</label>
                        <div class="input-group input-group-merge has-validation">
                            <input type="password" id="password" class="form-control" name="password"
                                   placeholder="············" aria-describedby="password" fdprocessedid="i1tp3f">
                            <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                        </div>
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                    </div>
                    <div class="my-8">
                        <div class="d-flex justify-content-between">
                            <div class="form-check mb-0 ms-2">
                                <input class="form-check-input" type="checkbox" id="remember-me">
                                <label class="form-check-label" for="remember-me">
                                    Remember Me
                                </label>
                            </div>
                            <a href="auth-forgot-password-cover.html">
                                <p class="mb-0">Forgot Password?</p>
                            </a>
                        </div>
                    </div>
                    <center>
                        <button class="btn btn-primary mt-3">
                            Sign in
                        </button>
                    </center>
                </form>

                <p class="text-center mt-3">
                    <span>New on our platform?</span>
                    <a href="auth-register-cover.html">
                        <span>Create an account</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/node-waves/node-waves.js}"></script>
<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
<script th:src="@{/assets/vendor/js/menu.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>